/* Общие стили */

:root {
    --text-color-black: #2d2829;
    --text-color-pink: #f50049;
}

body {
    font-family: "Playfair Display", serif;
    font-size: 20px;
    line-height: 27px;
    color: var(--text-color-black);
    background-color: #fbebea;
    margin: 0;
}

/* Стили header */

.site-navigation-item a {
    font-size: 13px;
    line-height: 16px;
    color: var(--text-color-black);
    text-transform: uppercase;
    text-decoration: none;
}

.site-navigation-item a.active {
    color: var(--text-color-pink);
}

.phone {
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    color: var(--text-color-black);
    text-decoration: none;
}

/* Секция промо */

.promo h1 {
    font-size: 78px;
    line-height: 70px;
}

.promo p {
    font-style: italic;
    font-size: 40px;
    line-height: 53px;
}

.button {
    font-weight: bold;
    font-size: 13px;
    line-height: 27px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    background-color: var(--text-color-pink);
}

.features {
    font-size: 14px;
    line-height: 18px;
}

/* Стили main */

main {
    width: 1140px;
    padding: 0 70px;
    margin: 0 auto;
}

/* Секция каталог */

.catalog h2 {
    font-size: 40px;
    line-height: 66px;
}

.catalog h3 {
    font-size: 24px;
    line-height: 32px;
}

.catalog a {
    font-size: 18px;
    line-height: 24px;
    color: var(--text-color-black);
    text-decoration: none;
}

/* Секция ревью */

.reviews h2 {
    font-size: 40px;
    line-height: 66px;
    text-align: center;
}

.reviews h3 {
    font-size: 27px;
    line-height: 36px;
}

.reviews .reviews-info {
    font-size: 25px;
    line-height: 33px;
}

/* Секция адвантейдж */

.advantages {
    background-image: url("/images/berries.png");
    background-position: left center;
    background-repeat: no-repeat;
}

.advantages h2 {
    font-size: 40px;
    line-height: 66px;
    text-align: center;
}

.advantages-text {
    font-style: italic;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
}

.advantages-list h3 {
    font-size: 20px;
    line-height: 27px;
}

/* Секция контакты */

.contacts {
    padding-top: 100px;
    padding-bottom: 70px;
    display: flex;
    justify-content: space-between;
}

.contact-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.social-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
}

.contacts-map {
    width: 760px;
}

.contacts-content {
    width: 340px;
    padding-top: 20px;
}

.contact-item {
    margin-bottom: 20px;
}

.contacts h2 {
    font-size: 40px;
    line-height: 66px;
    margin: 0;
    margin-bottom: 45px;
}

.contact-item h3 {
    font-size: 20px;
    line-height: 27px;
    margin: 0;
    margin-bottom: 5px;
}

.contact-item address {
    font-style: normal;
}

.contact-item a {
    color: var(--text-color-black);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
}

.social-item {
    background-color: #ffffff;
    margin-right: 25px;
}

.contact-item a:hover {
    color: rgba(45, 40, 41, 0.7);
}

.contact-item a:active {
    color: rgba(45, 40, 41, 0.5);
}

/* секция footer */

.main-footer {
    color: #888888;
    background-color: #e8e8e8;
}

.footer-navigation-item a {
    font-size: 13px;
    line-height: 16px;
    color: var(--text-color-black);
    text-decoration: none;
}

.copyright {
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
}